.popup-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-column {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 10px;
    width: 100px;
    margin: 0 10px;
}

.buttons-container {
    button {
        margin-bottom: 10px;
        width: 100%;
    }
}