<div class="container">

  <div class="postits">
    @for(postIt of postIts; track postIt.id){
    <div [class.selected]="isSelected(postIt)" [class]="['postit',postIt.color]" (click)="select(postIt)">
      <div class="buttons">
        @if(isSelected(postIt)){
        <span class="button" (click)="openColorDialog(postIt)">
          <mat-icon>palette</mat-icon>
        </span>

        <span class="button" (click)="delete(postIt)">
          <mat-icon>delete</mat-icon>
        </span>
        }
      </div>
      <textarea class="text full-height full-width" [(ngModel)]="postIt.text"></textarea>
    </div>
    }
  </div>

  <button matFab class="button-add" (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</div>