<div [class]="['day-of-week', 'relative', selectedColor]" (click)="toggleColorSelector()">
    <div class="curson-pointer number-of-day">
        {{dayOfMonth}}
    </div>
    <div class="popup" *ngIf="colorSelectorVisible">
        <div>
            <div class="grid">
                <div *ngFor="let color of colors" [class]="['curson-pointer','day-of-week', 'tag',  color]"
                    (click)='selectColorAsync(color)'>

                </div>
            </div>
            <button (click)="selectColorAsync('')">supprimer</button>
        </div>
    </div>
</div>