.container {
    border-right: solid black 1px;
    width: 190px;
}

.header {
    font-size: 14px;
    padding: 5px;
    background-color: lightgray;
    margin: 0;
    text-align: center;
    border-bottom: solid black 1px;
}

.time-slot {
    font-size: 14px;
    padding: 5px;
    margin: 0;
    text-align: center;
    border-bottom: solid lightgray 1px;
    height: 20px;
}

.time-slot-hour {
    border-bottom: solid black 1px;
}