<div class="container">
    <div class="mat-typography">
        <mat-toolbar color="primary" class="print-hidden">
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
            <div class="header-title">Calendrier</div>

            <a routerLink="/agenda" class="header-button" mat-button
                routerLinkActive="navbar-header-item-selected">Agenda</a>
            <!-- // TODO
                <a routerLink="/emploi-du-temps" class="header-button" mat-button
                routerLinkActive="navbar-header-item-selected">Emploi du temps</a>
-->

            <div>
                <app-year-navigation></app-year-navigation>
            </div>

            <span class="spacer"></span>
            <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
        </mat-toolbar>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <div>v2.4.0</div>
</div>