<div class="container">
    <div class="mat-typography">
        <mat-toolbar color="primary" class="print-hidden">

            <div class="header-title">Calendrier</div>

            <a routerLink="/agenda" class="header-button" mat-button
                routerLinkActive="navbar-header-item-selected">Mois</a>

            <a routerLink="/semaines" class="header-button" mat-button
                routerLinkActive="navbar-header-item-selected">Semaines</a>


            <span class="spacer"></span>

            <button mat-button routerLink="/database">
                <i class="fas fa-download" title="Télécharger"></i>
            </button>
        </mat-toolbar>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <div>v2026.2.14.0</div>
</div>