<div class="day" [class.saturday]="isSaturday" [class.sunday]="isSunday" [class.france]="isFrance"
  [class.suisse]="isSuisse" [class.holiday]="isHoliday" [class.passed]="isPassed">
  @if (specialLabelVisible) {
    <div class="special-label hidden">{{specialLabel}}</div>
  }
  <div class="cell">
    <app-custom-tag [date]="date"></app-custom-tag>
  </div>
  <div class="cell-day-name">{{dayOfWeek}}</div>
  <input [class]="['label', color, style]" [class.special]="specialLabelVisible" [(ngModel)]="label"
    (focus)="onLabelFocusInEvent()" (focusout)="onLabelFocusOutEvent()">
  </div>