/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.toolbar{
    
    margin:10px auto;
    width: 200px; 

    .year{
        margin: 0 5px;
        display: inline-block;
        font-size: 20px;
    }
}

.calendar{
    border:solid black 1px;
    border-top: 1px;    
    border-right: 1px;    
    border-bottom: 0px;   
    width: 1162px; 
    margin:auto;
}

.month{
    h1{
        font-size: 14px;
        padding: 5px;
        background-color: lightgray;
        margin: 0;
        text-align: center;
        border-bottom:solid black 1px;
    }

    vertical-align: top;
    display: inline-block;
    width: 190px;
    border:solid black 1px;
    border-left: solid black 2px;    
    border-bottom: 0px;    
}

.day{
    padding: 1px;
    border-bottom:solid darkgray 1px;
    vertical-align: middle;
    height: 20px;
    padding: 4px 0 0 4px;
    .cell{
        display: inline-block;
        width: 20px;
        font-weight: bold;
    }
    .cell-day-name{
        display: inline-block;
        width: 35px;
    }
    .label{
        display: inline-block;
        background: transparent;
        border: 0px;
        width: 124px;
    }
    .label:focus{
        outline-style: none;
    }
}

.holiday{
    background: #b1ff8f;
}

.saturday{
    background-color: #e8e8ff;
}

.sunday{
    background-color: #88bbff;
}

.special-day.france{
    background-color: #ffaaaa;
}

.special-day.suisse{
    background-color: #ffe8aa;
}

.special-day.france.suisse{
    background: linear-gradient(to right, #ffaaaa 0%, #ffaaaa 50%,  #ffe8aa 50%,  #ffe8aa 100%);
}