html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.margin-0-10-0-0 {
    margin: 0 10px 0 0;
}

.margin-0-10-0-10 {
    margin: 0 10px 0 10px;
}

.margin-auto {
    margin: auto;
}

.margin-auto-zero {
    margin: auto 0;
}

.bring-to-front {
    z-index: 100;
}

.curson-pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.horizontal-center {
    margin: auto;
}

@media print {
    .print-hidden {
        display: none !important;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.grid-1fr-auto {
    display: grid;
    grid-template-columns: 1fr auto;
}

.calendar {
    border: solid black 1px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 0px;
    justify-self: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.red {
    background-color: rgba(241, 22, 22, 0.911);
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(59, 177, 59);
}

.blue {
    background-color: rgb(35, 165, 247);
}

.purple {
    background-color: rgb(233, 17, 233);
}

.color-red {
    color: rgba(241, 22, 22, 0.911);
}

.color-orange {
    color: orange;
}

.color-yellow {
    color: yellow;
}

.color-green {
    color: rgb(59, 177, 59);
}

.color-blue {
    color: rgb(35, 165, 247);
}

.color-purple {
    color: rgb(233, 17, 233);
}